.show-buddy {
  text-align: center;
}

.show-search {
  max-width: 300px;
}

.show-suggestions {
  display: none;
  position: relative;
  top: 0;

  &.show-suggestions-visible {
    display: block;
  }
}
