.show-search {
  max-width: 300px;
}

.show-suggestions {
  display: none;
  flex-direction: row;
  background-color: transparent;
  margin-top: 3rem;

  &.show-suggestions-visible {
    display: flex;
  }
}

.suggestion {
  height: 100%;
  max-width: 300px;
  cursor: pointer;

  &:hover {
    box-shadow: 4px 4px 10px #666666;
  }
}

.suggestion {
  .title {
    color: #363636 !important;
  }

  .subtitle {
    color: #686868 !important;
  }
}

.show-description {
  // max-height: 200px;
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  word-wrap: break-word;
  visibility: visible;
  text-align: left;
}
